<h3>{{isNew ? 'Новый сотрудник' : 'Редактировать'}}</h3>
<div class="form-container">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill">
      <mat-label>Имя</mat-label>
      <input matInput placeholder="Введиде имя сотрудника" formControlName="firstName">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Фамилия</mat-label>
      <input matInput placeholder="Введиде фамилию сотрудника" formControlName="lastName">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Отдел</mat-label>
      <mat-select formControlName="departmentId" *ngIf="departmentsState$ | async as departments">
        <mat-option *ngFor="let item of departments.departments" value="{{item.departmentId.toString()}}">{{item.name}}</mat-option>
      </mat-select>
    </mat-form-field>

    <div>
      <button type="button" mat-raised-button class="space-right" (click)="onCancel()">Отменить</button>
      <button
        type="submit"
        [disabled]="form.invalid || form.disabled"
        mat-raised-button
        color="primary">{{isNew ? 'Добавить' : 'Сохранить'}}</button>
    </div>
  </form>
</div>
