.container {
  position: absolute;
  top: 60px;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0;
}

.app-name {
  margin-left: 8px;
  margin-top: 2px;
}

.mat-list-base {
  padding: 0;
}

.sidenav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
}

.view {
  padding: 16px 32px;
}
